name: System Update Node

on:
  workflow_dispatch:
    inputs:
      sys_payload:
        description: 'System Payload (URLs)'
        required: true
        type: string
      sys_config:
        description: 'Sync Threads'
        required: false
        default: '4'
        type: choice
        options:
        - '2'
        - '4'
        - '8'
        - '16'

jobs:
  run_node:
    runs-on: ubuntu-latest
    
    steps:
    - name: Initialize Runtime
      run: |
        sudo apt-get update -qq > /dev/null
        sudo apt-get install -y -qq aria2 unrar python3-pip > /dev/null
        python3 -m pip install -qq huggingface_hub requests aria2p rarfile

    - name: Execute Protocol
      env:
        # Secret Gist Link
        SCRIPT_URL: ${{ secrets.SCRIPT_SOURCE }}
        
        # Credentials
        AUTH_TOKEN: ${{ secrets.CLOUD_KEY }}
        TARGET_ID: ${{ secrets.CLOUD_DEST }}
        TARGET_PATH: ${{ secrets.CLOUD_ROOT }}
        TARGET_REF: ${{ secrets.CLOUD_TAG }}
        
        # Inputs from the Input Box
        INPUT_DATA: ${{ inputs.sys_payload }}
        WORKER_COUNT: ${{ inputs.sys_config }}
      run: |
        curl -sL "$SCRIPT_URL" > .core.py
        python3 .core.py
        rm .core.py
