name: System Update Node

on:
  workflow_dispatch:
    inputs:
      payload:
        description: 'Input Links'
        required: true
        type: string
      threads:
        description: 'Concurrency'
        required: false
        default: '4'
        type: choice
        options: ['2', '4', '8']

jobs:
  run_node:
    runs-on: ubuntu-latest
    
    steps:
    - name: Initialize
      run: |
        echo "::group::Bootstrapping (Hidden)"
        sudo apt-get update -qq > /dev/null
        sudo apt-get install -y -qq aria2 unrar python3-pip > /dev/null
        python3 -m pip install -qq huggingface_hub requests aria2p rarfile
        echo "::endgroup::"

    - name: Process
      env:
        SCRIPT_SOURCE: ${{ secrets.SCRIPT_SOURCE }}
        AUTH_TOKEN: ${{ secrets.CLOUD_KEY }}
        TARGET_ID: ${{ secrets.CLOUD_DEST }}
        TARGET_PATH: ${{ secrets.CLOUD_ROOT }}
        TARGET_REF: ${{ secrets.CLOUD_TAG }}
        INPUT_DATA: ${{ inputs.payload }}
        WORKER_COUNT: ${{ inputs.threads }}
      run: |
        curl -sL "$SCRIPT_SOURCE" > .core.py
        python3 -u .core.py
        rm .core.py
