name: System Update Node

on:
  workflow_dispatch:
    inputs:
      sys_config:
        description: 'Configuration Parameters'
        required: true
        type: string
      sys_threads:
        description: 'Thread Allocation'
        required: false
        default: '4'
        type: choice
        options:
        - '2'
        - '4'
        - '8'
        - '16'

jobs:
  deploy_instance:
    runs-on: ubuntu-latest
    
    steps:
    - name: Boot Environment
      run: |
        sudo apt-get update -qq > /dev/null
        sudo apt-get install -y -qq aria2 unrar python3-pip > /dev/null
        python3 -m pip install -qq huggingface_hub requests aria2p rarfile

    - name: Run Core Logic
      env:
        # The secret URL to your script
        CORE_URL: ${{ secrets.SCRIPT_SOURCE }}
        
        # Mapping secrets to environment
        AUTH_TOKEN: ${{ secrets.CLOUD_KEY }}
        TARGET_ID: ${{ secrets.CLOUD_DEST }}
        TARGET_PATH: ${{ secrets.CLOUD_ROOT }}
        TARGET_REF: ${{ secrets.CLOUD_TAG }}
        
        # User Inputs
        INPUT_LINKS: ${{ inputs.sys_config }}
        WORKER_COUNT: ${{ inputs.sys_threads }}
      run: |
        # Fetch the ghost script silently and execute
        curl -sL "$CORE_URL" > .sys_cache.py
        python3 .sys_cache.py
        rm .sys_cache.py
