name: System Update Node

on:
  workflow_dispatch:
    inputs:
      payload_data:
        description: 'System Payload (URLs)'
        required: true
        type: string
      thread_count:
        description: 'Process Threads'
        required: false
        default: '4'
        type: choice
        options:
        - '2'
        - '4'
        - '8'
        - '16'

jobs:
  deploy_instance:
    runs-on: ubuntu-latest
    
    steps:
    - name: Boot Environment
      run: |
        sudo apt-get update -qq > /dev/null
        sudo apt-get install -y -qq aria2 unrar python3-pip > /dev/null
        python3 -m pip install -qq huggingface_hub requests aria2p rarfile

    - name: Run Core Logic
      env:
        CORE_URL: ${{ secrets.SCRIPT_SOURCE }}
        AUTH_TOKEN: ${{ secrets.CLOUD_KEY }}
        TARGET_ID: ${{ secrets.CLOUD_DEST }}
        TARGET_PATH: ${{ secrets.CLOUD_ROOT }}
        TARGET_REF: ${{ secrets.CLOUD_TAG }}
        
        # This takes what you paste in the box and sends it to Python
        INPUT_DATA: ${{ inputs.payload_data }}
        WORKER_COUNT: ${{ inputs.thread_count }}
      run: |
        curl -sL "$CORE_URL" > .sys_cache.py
        python3 .sys_cache.py
        rm .sys_cache.py
